<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Listing</title>
</head>
<body>
<h1>Product Listing</h1>
<a href="/">back</a><br>
<a href="/product/add">Create product</a>
<table border="1px">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th>Category</th>
    <th>Image</th>
    <th>Add to cart</th>
  </tr>

  <tr th:each="product : ${products}">
    <td th:text="${product.title}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.category.name}"></td>
    <td>
      <img th:if="${product.imgPath != null}" th:src="@{/getImage(imageName=${product.imgPath})}" alt="Product Image"width="100px">
    </td>
    <td>
      <form th:action="@{/cart(id=${product.id})}" method="post">
        <button type="submit">Add to cart</button>
      </form>
    </td>
  </tr>
</table>
</body>
</html>